<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDzDr5O2C3iBt4l4tyI88mgh8i7to-AIsU</string>
	<key>GCM_SENDER_ID</key>
	<string>353907836113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pnam.PhamPhuongNamNotes</string>
	<key>PROJECT_ID</key>
	<string>phamphuongnamnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>phamphuongnamnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353907836113:ios:6ce5118956b05df74331f0</string>
</dict>
</plist>